
.small_container {
    margin: 0 auto;
    max-width: 340px;
}

.title {
    font-size: 2.7rem;
    font-weight: 100;
    margin: 10px 0;
}

.sub {
    font-weight: 100;
    margin: 0;
    margin: 10px 0;
}

.img_container {
    width: 100%;
    margin: 35px auto 0;
    text-align: center;
}

.profile {
    width: 100%;
    background: #000;
}

.links {
    display: flex;
    justify-content: space-between;
}