.small_container {
    max-width: 340px;
}

.center {
    margin: 0 auto;
}

.flex_split {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-size: 2.7rem;
    font-weight: 200;
    margin: 10px 0;
}

.title:hover {
    cursor: pointer;
}

.sub {
    font-weight: 100;
    margin: 0;
    margin: 10px 0;
}

.img_container {
    width: 100%;
    margin: 35px auto 0;
    text-align: center;
}

.profile {
    width: 100%;
    background: #000;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0;
    font-weight: 200;
}

.divider {
    width: 1px;
    background: #999999;
}


@media(max-width: 650px) {
    .flex_split {
        display: flex;
        flex-direction: column;
    }
}